### Name: Souptik Sarkar
### Section: 3G
### Roll Number: 64
### Enrollment Number: 12018009019207

In [41]:
from sklearn.datasets import load_iris
iris = load_iris()

In [42]:
import pandas as pd
data = pd.DataFrame(iris.data, columns = iris.feature_names)
data["species"] = pd.DataFrame(iris.target)

In [43]:
x = data.iloc[:, :-1]
y = data.iloc[:, -1]

In [44]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [45]:
x_train

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
140                6.7               3.1                5.6               2.4
99                 5.7               2.8                4.1               1.3
118                7.7               2.6                6.9               2.3
72                 6.3               2.5                4.9               1.5
17                 5.1               3.5                1.4               0.3
..                 ...               ...                ...               ...
122                7.7               2.8                6.7               2.0
124                6.7               3.3                5.7               2.1
149                5.9               3.0                5.1               1.8
138                6.0               3.0                4.8               1.8
42                 4.4               3.2                1.3               0.2

[105 rows x 4 columns]

In [46]:
y_train

140    2
99     1
118    2
72     1
17     0
      ..
122    2
124    2
149    2
138    2
42     0
Name: species, Length: 105, dtype: int32

In [47]:
from sklearn.naive_bayes import GaussianNB
iris_model = GaussianNB()

In [49]:
iris_model.fit(x_train, y_train)
y_pred = iris_model.predict(x_test)

In [52]:
from sklearn.metrics import accuracy_score, confusion_matrix, recall_score, precision_score
print(confusion_matrix(y_pred, y_test))
print("Accuracy: ", accuracy_score(y_pred, y_test).round(2)*100)
print("Precision Rate: ",precision_score(y_pred, y_test, average="macro").round(2)*100)
print("Recall Scotre: ", recall_score(y_pred, y_test, average="macro").round(2)*100)

[[14  0  0]
 [ 0 16  1]
 [ 0  1 13]]
Accuracy:  96.0
Precision Rate:  96.0
Recall Scotre:  96.0