### Name: Souptik Sarkar
### Section: CSE-3G
### Roll Number: 64
### Enrollment Number: 12018009019207

In [1]:
from sklearn.datasets import load_iris
iris = load_iris()

In [3]:
import pandas as pd
data = pd.DataFrame(iris.data, columns=iris.feature_names)
data['species'] = pd.DataFrame(iris.target)
data.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  species
0                5.1               3.5  ...               0.2        0
1                4.9               3.0  ...               0.2        0
2                4.7               3.2  ...               0.2        0
3                4.6               3.1  ...               0.2        0
4                5.0               3.6  ...               0.2        0

[5 rows x 5 columns]

In [4]:
X = data.iloc[:, :-1]
y = data.iloc[:,-1]

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [6]:
X_train

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
125                7.2               3.2                6.0               1.8
23                 5.1               3.3                1.7               0.5
6                  4.6               3.4                1.4               0.3
21                 5.1               3.7                1.5               0.4
131                7.9               3.8                6.4               2.0
..                 ...               ...                ...               ...
54                 6.5               2.8                4.6               1.5
107                7.3               2.9                6.3               1.8
97                 6.2               2.9                4.3               1.3
78                 6.0               2.9                4.5               1.5
86                 6.7               3.1                4.7               1.5

[105 rows x 4 columns]

In [7]:
y_train

125    2
23     0
6      0
21     0
131    2
      ..
54     1
107    2
97     1
78     1
86     1
Name: species, Length: 105, dtype: int32

In [11]:
from sklearn.linear_model import LogisticRegression
iris_model = LogisticRegression(max_iter = 1000)
# max_iter suggests the number of gradient descent algorithm will loop over

In [12]:
iris_model_fit = iris_model.fit(X_train, y_train)
y_pred = iris_model_fit.predict(X_test)

In [15]:
from sklearn.metrics import accuracy_score
print("Our Accuracy: ", int(accuracy_score(y_pred, y_test).round(2)*100), end="%")

Our Accuracy:  98%